name: Container Image

on:
  workflow_dispatch:
  workflow_run:
    branches: [ "main", "**" ]
    workflows: ["Sync Service Build and Release"]
    types:
      - completed
  # push:
  #   branches:
  #     - main
  #   paths:
  #     - 'Kepware.Api/**'
  #     - 'KepwareSync.Service/**'
  #     - '.github/workflows/docker-build-and-push.yml' 
  #     - '!**/*.md' Exclude markdown files

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
        packages: write
        contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
            fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
      - uses: dotnet/nbgv@master
        id: nbgv
        with:
          path: ./KepwareSync.Service
          setAllVars: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Convert to lowercase
        id: lowercase
        run: echo "REPO_OWNER_LOWER=$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      # - name: Build and export to Docker
      #   uses: docker/build-push-action@v6
      #   with:
      #     load: true
      #     tags: kepware-sync-service:test
      # - name: Test
      #   run: |
      #     docker run --rm kepware-sync-service:test
      - name: Build and push Docker image
        if: ${{ github.event_name != 'pull_request'}}
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./KepwareSync.Service/Dockerfile
          push: true
          tags: ghcr.io/${{ env.REPO_OWNER_LOWER }}/kepware-sync-service:latest
          labels: |
            org.opencontainers.image.source=${{ github.repository }}
